<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户注册</title>
</head>



<body>
<form action="RegisterController" method="post" id="register">
<table width="479" height="372" border="0">
  <tr>
    <td colspan="4"><div align="center">用户注册</div></td>
  </tr>
  <tr>
    <td width="130">用户名：</td>
    <td width="166"><input type="text" id="rname" name="rname"/></td>
    <td width="134">&nbsp;</td>
    <td width="21">&nbsp;</td>
  </tr>
  <tr>
    <td>密码：</td>
    <td><input type="password" id="rpassword" name="rpassword"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>再次输入密码：</td>
    <td><input type="password" id="rspassword" name="rspassword"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>性别：</td>
    <td> <label for="rselect"></label>
      <div align="center">
        <select name="rselect" id="rselect">
          <option>F</option>
          <option>W</option>
          
        </select>
      </div>
 
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>电话</td>
    <td><input type="text" id="rphone" name="rphone"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><input type="submit"/ value="注册"></td>
    <td><input  type="reset" value="重置"/></td>
    <td><input type="button" value="取消" /></td>
    <td>&nbsp;</td>
  </tr>
</table>
</form>
</body>
</html>
