<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户登录</title>
</head>
<body>
<form method="post" action="UserLoginController" id="loadPost">
<table width="429" height="266" border="0">
  <tr>
    <td colspan="3"><div align="center">用户登录</div></td>
  </tr>
  <tr>
    <td width="168"><div align="center">用户</div></td>
    <td width="168"><input type="text" id="username" name="username"/></td>
    <td width="71">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">密码</div></td>
    <td><input type="password" id="password" name="password"/></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><input type="submit" id="submit" name="submit" value="登录"/></td>
    <td><input type="reset" id="reset" name="reset" value-"重置"/></td>
    <td><input type="button" id="resigter"name="resigter" value="注册" onclick="window.open('UserR')"/></td>
  </tr>
</table>

</form>

</body>
</html>
